<div class="container">
  <div classs="row">
      <div class="col-md-6">

    <div class="card card-1" *ngIf="detailedTopic">
        <h4> "{{ detailedTopic.name }}"</h4>
        <div class="row">
          <div class="col-xs-12">
            <p>{{ detailedTopic.description }}</p>
          </div>
        </div>

        <div class="permissions">
          <!-- <div class="row">
            <div class="col-xs-12">
              <label [style.color] = "detailedTopic.can_sub ? 'green' : 'red'">{{ SubPermissionsText }}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label [style.color] = "detailedTopic.can_pub ? 'green' : 'red'">{{ PubPermissionsText }}</label>
            </div>
          </div> -->

          <div>
            <input type="checkbox" id="sub_perm" name="sub_perm"
                   style="margin-right:5px;"
                   [checked]="detailedTopic.can_sub"
                   disabled="true">
            <label for="sub_perm" [style.color] = "detailedTopic.can_sub ? 'green' : 'red'">Subscribe Permissions</label>
          </div>
          <div>
            <input type="checkbox" id="pub_perm" name="pub_perm"
                   style="margin-right:5px;"
                   [checked]="detailedTopic.can_pub"
                   disabled="true">
            <label for="pub_perm" [style.color] = "detailedTopic.can_pub ? 'green' : 'red'">Publish   Permissions</label>
          </div>
          <div *ngIf="!detailedTopic.can_sub">
            <button class="btn btn-primary" [disabled]="!r_btnState()" (click)="requestTopic()">Request!</button>
              <form class="form-inline">
              <div class="checkbox-inline">
                <label id="agree-label">
                  <input
                    type="checkbox"
                    [checked]="termsAccepted" (change)="termsAccepted = !termsAccepted"
                    />I accept the terms of use
                </label>
              </div>
              </form>
          </div>
        </div>

        <div *ngIf="topic_owner">
            <button style="margin:5px;" class="btn btn-danger" (click)="deleteTopic()">Delete</button>
        </div>

      </div>

   </div>
 </div>
</div>

