<!-- <div class="row">
    <div class="col-xs-12">
      <img 
        src="{{ detailedTopic.imagePath }}" 
        alt="{{ detailedTopic.name }}" 
        class="img-responsive"
        style="max-height: 200px">
    </div>
  </div> -->
<span *ngIf="detailedIoTService">
  <h2>IoT Service  "{{ detailedIoTService.name }}" details</h2>
  <div class="row">
    <div class="col-xs-12">
      <h3 title="Service Description">{{ detailedIoTService.description }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Type of the service is {{ detailedIoTService.service_type }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Service is located at {{ detailedIoTService.location }}</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button 
          type="button" 
          class="btn btn-primary dropdown-toggle">
          Connected Topics <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="onShowTopicsChange(1)" style="cursor: pointer;">Input Topics</a></li>
          <li><a (click)="onShowTopicsChange(2)" style="cursor: pointer;">Output Topics</a></li>
          <li><a (click)="onShowTopicsChange(3)" style="cursor: pointer;">All Topics</a></li>
          <li><a (click)="onShowTopicsChange(4)" style="cursor: pointer;">Hide Topics</a></li>
        </ul>
      </div>
    </div>
  </div>

  
  <span *ngIf="showTopicState.inputs">
    <h3>Subscribed to the following (Input) topics</h3>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li 
          class="list-group-item form-control"
          *ngFor="let topic of detailedIoTService.input_topics"
          style="cursor: pointer; margin-top: 5px;"
          (click)="onNavigateToTopic(topic.id)">
          {{ topic.name }} - {{ topic.description }}
        </li>
        </ul>
      </div>
    </div>
  </span>

  <span *ngIf="showTopicState.outputs">
    <h3>Publishing to the following (Output) Topics</h3>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li
          class="list-group-item form-control"
          *ngFor="let topic of detailedIoTService.output_topics"
          style="cursor: pointer; margin-top: 5px;"
          (click)="onNavigateToTopic(topic.id)">
          {{ topic.name }} - {{ topic.description }}
        </li>
        </ul>
      </div>
    </div>
  </span>

  <div class="row">
    <div class="col-xs-12">
      <label [style.color] = "detailedIoTService.subscriber ? 'green' : 'red'">{{ permissionsText }}</label>
    </div>
  </div>

  <span *ngIf="!detailedIoTService.subscriber">
    <button class="btn btn-success" [disabled]="!r_btnState()" (click)="requestIoTService()">Request!</button>
    
      <form class="form-inline">
      <div class="checkbox-inline">
        <label id="agree-label">
          <input 
            type="checkbox" 
            [checked]="termsAccepted" (change)="termsAccepted = !termsAccepted"
            />I accept the terms of use
        </label>
      </div>
      </form>
  </span> 

</span>
  