<div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="row">
          <div class="col-sm-4 form-group">
              <label for="name">Name</label>
              <input 
                type="text" 
                id="name" 
                class="form-control"
                ngModel
                name="name">
          </div>
          <div class="col-sm-8 form-group">
              <label for="description">Description</label>
              <input 
                type="text" 
                id="description" 
                class="form-control"
                ngModel
                name="description"
                required>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button 
              class="btn btn-success"
              type="submit"
              [disabled]="!f.valid">Add</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>