<a 
  style="cursor: pointer;"
  [routerLink] = "[iot_service.id]"
  routerLinkActive="active"
  class="list-group-item clearfix"
  style="margin-top: 2px;">
    <div class="pull-left" >
        <h4 class="list-group-item-heading">{{ iot_service.name }}</h4>
        <p class="list-group-item-text">{{ iot_service.description }}</p>
        <p class="list-group-item-text">Developed by: {{iot_service.owner}}</p>
        <p class="list-group-item-text">Located at: {{iot_service.location}}</p>
    </div>
</a>
