<h1>
  Welcome to Synaisthisi platform
</h1>

<div class="col-md-12">
  <p class="text-justify">
  <b>Synaisthisi</b> is a <b>high-availability</b>, <b>scalable</b>, <b>distributed</b> and <b>cloud-based</b> platform that: 
  <ul>
    <li>enables networked devices to easily interconnect through intuitive interfaces</li>
    <li>allows humans, systems, and devices to create and manage services on-the-fly</li>
    <li>enables businesses increase their revenue from the development of new services and reuse of current assets</li>
    <li>allows your applications to always follow your ongoing business needs </li>
  </ul>
  <p>
      <img class="center-block" src="/assets/platformAbstract.png" class="img-responsive" style="max-width: 100%;">
</div>