<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="IoTServiceForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <button 
              type="submit" 
              class="btn btn-success"
              [disabled]="!IoTServiceForm.valid">Save</button>
            <button 
              type="button" 
              class="btn btn-danger"
              (click)="onCancel()">Cancel</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                type="text"
                id="name"
                formControlName="description"
                class="form-control"
                rows="6"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="serviceType">ServiceType</label>
              <select
                id="serviceType"
                formControlName="serviceType"
                class="form-control">
                <option *ngFor="let service_type of service_types" [value]="service_type">{{service_type}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="location">Location</label>
              <input
                type="text"
                id="location"
                formControlName="location"
                class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="btn-group" appDropdown>
              <button 
                type="button" 
                class="btn btn-primary dropdown-toggle">
                Add Topics <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a (click)="onShowTopicsChange(1)" style="cursor: pointer;">Input Topics</a></li>
                <li><a (click)="onShowTopicsChange(2)" style="cursor: pointer;">Output Topics</a></li>
                <li><a (click)="onShowTopicsChange(3)" style="cursor: pointer;">All Topics</a></li>
                <li><a (click)="onShowTopicsChange(4)" style="cursor: pointer;">Hide Topics</a></li>
              </ul>
            </div>
          </div>
        </div>

        <span *ngIf="showTopicState.inputs">
          <div class="row">
            <div class="col-xs-7" formArrayName="inputTopics">
              <div 
                class="row"
                *ngFor="let inputTopicCtl of IoTServiceForm.get('inputTopics')['controls'], let i=index"
                [formGroupName]="i"
                style="margin-top: 10px;">
                <div class="col-xs-3">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name">
                </div>
                <div class="col-xs-7">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="description"
                    rows="3">
                </div>
                <div class="col-xs-2">
                  <button 
                    class="btn btn-danger"
                    type="button"
                    (click)="onDeleteInputTopic(i)">X</button>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-4">
                  <button 
                    class="btn btn-success" 
                    (click)="onAddInputTopic()" 
                    type="button"> Add Input Topic</button>
                </div>
                <div class="col-xs-4">
                  <button 
                    class="btn btn-success" 
                    (click)="onShowTopicsChange(5)"
                    title="Add from existing topics whith SUB permissions"
                    type="button"> Add Existing Topics</button>
                </div>
              </div>  
            </div>
            <span *ngIf="showTopicState.existing_inputs">
              <div class="col-xs-5">
              <!-- Disabled for the moment as search only works for all topics (server work needed) 
                <div class="div row">
                  <div class="col-xs-12">
                    <app-search [searchType]=searchType></app-search>
                    <hr>
                  </div>
                </div> -->
                <div class="col-xs-12">
                  <app-topic-list 
                    [embeddingComponent]=embeddingComponent
                    (topicSelected)="onAddExistingInputTopic($event)"></app-topic-list>
                </div> 
              </div>
            </span>
          </div>
        </span>

        <span *ngIf="showTopicState.outputs">
          <div class="row">
            <div class="col-xs-12" formArrayName="outputTopics">
              <div 
                class="row"
                *ngFor="let outputTopicCtl of IoTServiceForm.get('outputTopics')['controls'], let i=index"
                [formGroupName]="i"
                style="margin-top: 10px;">
                <div class="col-xs-3">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name">
                </div>
                <div class="col-xs-7">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="description"
                    rows="3">
                </div>
                <div class="col-xs-2">
                  <button 
                    class="btn btn-danger"
                    type="button"
                    (click)="onDeleteOutputTopic(i)">X</button>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-12">
                  <button 
                    class="btn btn-success" 
                    (click)="onAddOutputTopic()" 
                    type="button"> Add Output Topic</button>
                </div>
              </div>  
            </div>
          </div>
        </span>

        
      </form>
    </div>
  </div>