<div class="row">
  <div class="col-xs-12 fixed-size root__container">
      <app-iot-service-item
        *ngFor="let serviceEl of pagedServices"
        [iot_service]="serviceEl"></app-iot-service-item>
  </div>
</div>
<div class="row" *ngIf="servicesLength > pageLength">
  <div class="col-xs-12">
    <button class="btn btn-primary btn-space" type="button" (click)="setPage(false)">Previous Page</button>
    <button class="btn btn-primary btn-space" type="button" (click)="setPage(true)">Next Page</button>
  </div>
</div>
